[Desktop Entry]
Exec=/opt/file-centipede/fileu
Icon=/opt/file-centipede/icons/icon.png
Terminal=false
Type=Application
Name=File Centipede
Comment=Download manager
Categories=Utility;
MimeType=x-scheme-handler/filec;
